@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

h1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 14vw;
    color: #17171F;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #5eead4;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #5eead4;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 40%;
    }
}